{% extends "index.html" %}

{% block title %}{{ config.title }} - Tags{% endblock %}

<!-- Page Header -->
{% block header %}
<header class="masthead" style="background-image: url('{{ get_url(path="/img/main-bg.jpg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Tags</h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <p>All tags used in posts:</p>
            <ul>
                {% if terms %}
                {% for tag in terms %}
                <li><a href="{{ tag.permalink }}"><strong>{{ tag.name }}</strong></a></li>
                {% endfor %}
                {% else %}
                <li>No tags yet, check back soon</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}