{% extends "index.html" %}


{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/main-bg.jpg")}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="post-heading">
          {{ post_macros::page_header(page=page) }}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}


{% block content %}
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto" align = "justify">

          {{ page.content | safe }}
        
        {% if page.taxonomies.tags %}
        <div class="post-tags">
          <p>Tags:
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
            {% endfor %}
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% endblock content %}


{% block extrascripts %}
  <link rel="stylesheet" href="{{ get_url(path="css/katex.min.css") }}">
  <script defer src="{{ get_url(path="js/katex.min.js") }}"></script>
  <script defer src="{{ get_url(path="js/mathtex-script-type.min.js") }}"></script>
{% endblock extrasripts %}