{% macro page_title(page) %}
<a href="{{ page.permalink }}">
    <h2 class="post-title">{{ page.title }}</h2>
</a>
<p class="post-meta">Posted by
    <a href="#">{{config.extra.author}}</a>
    on {{ page.date | date(format="%e %B %Y")}}
</p>
{% endmacro page_list %} -->

{% macro page_header(page) %}
<h1>{{ page.title }}</h1>
<span class="meta">Posted by
    <a href="#">{{config.extra.author}}</a>
    on {{ page.date | date(format="%e %B %Y")}}
</span>
{% endmacro page_list %}

{% macro polish(content) %}
    {{ content |
       replace(from=":smile:", to="😄") |
       replace(from=":sushi:", to="🍣") |
       replace(from=":rice_ball:", to="🍙") |
       replace(from=":ramen:", to="🍜") |
       replace(from=":egg:", to="🥚") |
       replace(from=":+1:", to="👍") |
       replace(from=":thumbsup:", to="👍") |
       replace(from=":stuck_out_tongue:", to="😛") |
       replace(from=":grinning:", to="😀") |
       replace(from=":frowning:", to="😦") |
       replace(from=":heart:", to="❤") |
       replace(from=":disappointed:", to="😞") |
       replace(from=":tada:", to="🎉") |
       replace(from=":dumpling:", to="🥟") |
       safe
    }}
{% endmacro content %}